---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import Pagination from "../../components/Pagination.astro";
import BlogCardContainer from "../../components/blogCardContainer/BlogCardContainer.astro";
//STRAPI modules
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article'; 

const RandomNumber = 1;
export const prerender = true; 
export async function getStaticPaths({ paginate }){
  const articles = await fetchApi<Article[]>({
   endpoint: 'articles', // el tipo de contenido a obtener
   wrappedByKey: 'data', // la clave para descomponer la respuesta
});
  const sortedByDate = articles.sort((a,b)=> Date.parse(b.attributes.publishedAt) - Date.parse(a.attributes.publishedAt));

  return paginate(sortedByDate, {
    pageSize:4,
  })
}
const { page } = Astro.props as any ;
---
<MainLayout title = "Mis blogs">
  <main>
      <BlogCardContainer>
      {
        page.data.map((article) => 
        <BlogCard
        title = {article.attributes.title}
        category = {article.attributes.tags.split(",")}
        image = {article.attributes.coverurl}
        date = {new Date(article.attributes.publishedAt).toDateString()}
        views = {RandomNumber}
        url_post = {"/blog/"+article.attributes.slug}
        from = {"tags/"}
        />
    )}
      
		</BlogCardContainer>
    <Pagination prevUrl = {page.url.prev} nextUrl = {page.url.next}/>
  </main>
</MainLayout>