---
import MainLayout from "../layouts/MainLayout.astro"
const { title, pubDate, coverurl } = Astro.props;
---

<MainLayout title = {title}>

  <main>
    <section class="blogContent">
      <h1 class="blogLayoutH1">{title}</h1>
      <span class="blogLayoutPubDate">{pubDate}</span>
      <img class="blogLayoutImage" src={coverurl} alt={title} >
      <slot></slot>
    </section>
    <section class="relatedArticles">
      <h1 class="accentTitle">Articulos relacionados</h1>
      <slot name="relatedArticlesSlot"></slot>
    </section>
  </main>
</MainLayout>

<style>
  .blogLayoutH1{
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures: common-ligatures;
    border-bottom: 1px solid var(--secondary-color);
    font-size: var(--font-xxxlarge);
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 2rem;
  }
  .blogLayoutPubDate{
    font-size: var(--font-medium);
    color:var(--secondary-color);
  }

  .blogLayoutImage{
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .accentTitle{
    color: var(--accent-color);
    font-size: var(--font-xlarge);
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
  }
</style>